---
import { getCollection } from "astro:content";

import Layout from '../layouts/Layout.astro';
import Posts from "../components/Posts.astro";

const posts = await getCollection("posts", ({ data }) => !data.draft);
const tags = await getCollection("tags");
---

<Layout title="Welcome to Astro.">
	<main>
		<Posts posts={posts} />
	</main>
</Layout>
