---
import Navbar from "../components/Navbar.astro";
import "../main.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main class="container px-8 py-20 md:py-32 md:px-12 mx-auto">
			<Navbar />
			<slot />
		</main>
	</body>
</html>

